<footer>
    <div>
    <a class="footer-a" href="https://github.com/itsarnob/CutUrls" target="_">GitHub</a>
    <a class="footer-a" href="/about">Information & Credits</a>
    </div>
    <div>
    <a class="footer-a" href="/report">Report</a>
    <a class="footer-a" href="/tos">Terms Of Service</a>
    </div>
    <div>
    <a class="footer-a" href="/docs">Documentation</a>
    <a class="footer-a" href="/signup" id="signupBtn">Sign up</a>
    </div>
</footer>