<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./head.ejs"); %>
    <title>CutUrls | 404</title>
</head>
<body>

    <%- include("./nav.ejs", {user: "<a id='loginBtn' href='/login'>Log in</a>" }); %>
    <h1>404 - URL not found.</h1>
</body>
</html>